.owner-page {
  display: flex;
  margin-top: 15px;
}

.rent-item-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  height: 70vh;
}

.rent-item-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.rent-item-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.rent-item-form input[type="text"],
.rent-item-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rent-item-form textarea {
  resize: vertical; /* Allow vertical resizing */
}

.rent-item-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rent-item-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.left-navigation {
  width: 200px; /* Adjust width as needed */
  margin-left: 20px;
  margin-top: 40px;
}

.left-nav-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-nav-items button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.left-nav-items button:hover {
  background-color: #e0e0e0;
}
