/* .header-dashboard{
    font-size: 30px;
    text-align: center;
}

.item-cards{
    display:flex;
    padding: 20px;

}

.item-card{
    margin: 20px;
    background: beige;
    padding: 10px;
    width: 200px;
    height: 200px;
} */

/* .header-dashboard {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.sub-header {
  font-size: 19px;
  margin-left: 50px;
}

.item-cards {
  margin: 50px 0px 0px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.item-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.item-card p {
  margin: 0;
}

.item-card p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}

.edit-btn {
  background-color: #0A66C2;
  color: white;
  width: 80px;
  padding: 5px 10px;
  border: 1.5px solid black;
  margin-top:10px;
} */


.header-dashboard {
  font-size: 24px;
  margin-bottom: 20px;
}

.sub-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.all-products-borrower {
  list-style-type: none;
  padding: 0;
}

.all-products-borrower li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.email {
  font-weight: bold;
}

.item-name {
  font-weight: bold;
}

.item-price {
  font-style: italic;
}

.approve-button,
.reject-button {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.approve-button {
  background-color: #28a745;
}

.reject-button {
  background-color: #dc3545;
}

.approve-button:hover,
.reject-button:hover {
  opacity: 0.8;
}








