/* .header-dashboard{
    font-size: 30px;
    text-align: center;
}

.item-cards{
    display:flex;
    padding: 20px;

}

.item-card{
    margin: 20px;
    background: beige;
    padding: 10px;
    width: 200px;
    height: 200px;
} */

.header-dashboard {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.sub-header {
  font-size: 19px;
  margin-left: 50px;
}

.item-cards {
  margin: 50px 0px 0px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.item-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.item-card p {
  margin: 0;
}

.item-card p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}

.edit-btn {
  background-color: #0A66C2;
  color: white;
  width: 80px;
  padding: 5px 10px;
  border: 1.5px solid black;
  margin-top:10px;
}
